/* Filters */
.filters {
    height: 6rem;
}
.filters__wraper { 
    align-items: center;
}
.label__container {
    flex-basis: 32%; 
}
/* Galery */
.cart {
    background-color: #F6F7F8;
    padding: 15px;
    border: 1px solid #D8DCE0;
    border-radius: 5px;
}
.cart:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px #A9A9A9;
}
.cart-calories,
.cart hr,
.range__wraper {
    display: none;
}
.cart-img {
    flex-basis: 100%;
    height: 11rem;
}
